/* Regular Georgia*/
@font-face {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: normal;
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/Georgia/Georgia.woff2') format('woff2'), 
		url('../../assets/fonts/Georgia/Georgia.woff') format('woff'),
		url('../../assets/fonts/Georgia/Georgia.ttf') format('ttf'),
		url('../../assets/fonts/Georgia/Georgia.eot') format('eot');
}
/* Italic Georgia*/
@font-face {
	font-family: 'Georgia';
	font-style: italic;
	font-weight: normal;
	src: local('Georgia-Italic'), local('Georgia Italic'),
		url('../../assets/fonts/Georgia/Georgia-Italic.woff2') format('woff2'), 
		url('../../assets/fonts/Georgia/Georgia-Italic.woff') format('woff'),
		url('../../assets/fonts/Georgia/Georgia-Italic.ttf') format('ttf'),
		url('../../assets/fonts/Georgia/Georgia-Italic.eot') format('eot');
} 
/* Bold Georgia*/
@font-face {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: bold;
	src: local('Georgia-Bold'), local('Georgia Bold'),
		url('../../assets/fonts/Georgia/Georgia-Bold.woff2') format('woff2'), 
		url('../../assets/fonts/Georgia/Georgia-Bold.woff') format('woff'),
		url('../../assets/fonts/Georgia/Georgia-Bold.ttf') format('ttf'),
		url('../../assets/fonts/Georgia/Georgia-Bold.eot') format('eot');
}
/* Italic Arial*/
@font-face {
    font-family: 'Arial';
    src: local('Arial Italic'), local('Arial-Italic'),
      url('../../assets/fonts/Arial/Arial-ItalicMT.woff2') format('woff2'), 
		url('../../assets/fonts/Arial/Arial-ItalicMT.woff') format('woff'),
		url('../../assets/fonts/Arial/Arial-ItalicMT.ttf') format('ttf'),
		url('../../assets/fonts/Arial/Arial-ItalicMT.eot') format('eot');
    font-weight: normal;
    font-style: italic;
}
/* Regular Arial*/
@font-face {
    font-family: 'Arial';
    src: local('Arial Regular'), local('Arial-Regular'),
        url('../../assets/fonts/Arial/ArialMT.woff2') format('woff2'), 
		url('../../assets/fonts/Arial/ArialMT.woff') format('woff'),
		url('../../assets/fonts/Arial/ArialMT.ttf') format('ttf'),
		url('../../assets/fonts/Arial/ArialMT.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}