.contacts-footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   &__content {
      display: flex;
      align-items: center;

      & img {
         margin: 0px 20px 0px 0px;
      }

      & a {
         font-family: 'Georgia';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 1.15;
         letter-spacing: 0.06em;
         color: $color-decor;
         text-decoration: none;
         transition: ease-in-out 0.5s;
         @media screen and (max-width:767px) {
            // text-align: justify;
         }
      }

      &>a:hover {
         color: $color-light1;
      }

   }

}

.footer {
         background: url(../assets/images/background_not_only.png), radial-gradient(circle, #5B483A 0%, #262425 100%) ;
      &__container {
         display: flex;
         justify-content: space-between;
         align-items: stretch;
         padding: 40px 40px 0px 40px;
         @media screen and (max-width:1279px) {
            flex-direction: column;
            justify-content: center;
            align-items:center;
            padding: 30px 30px 0px 30px;
         }
         @media screen and (max-width:767px) {
            padding: 30px 10px 0px 10px;
         }
      }
      &__body {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         padding: 16px 160px 0px 0px;
         @media screen and (max-width:1279px) {
            justify-content: space-around;
            align-items: flex-start;
            padding: 0px 5px 0px;
            margin: 0px 0px 65px 0px;
         }
         @media screen and (max-width:767px) {
            flex-direction: column;
            justify-content: center;
            align-items:center;
            padding: 0px 0px 0px;
            margin: 0px 0px 40px 0px;
         }
         
      }
      &__contacts {
         flex: 0 1 302px;
         min-height: 234px;
         // @media screen and (max-width:1279px) {
         // }
         @media screen and (max-width:767px) {
         max-width: 300px;
         min-height: 208px;
         flex: 0 1 222px;
         align-items: flex-start;
         }
      }
      &__title-contacts{
      @media screen and (max-width:767px) {
         max-width: 280px;
         align-self: center;
      }
      }
      &__image {
         max-width: 300px;
         @media screen and (max-width:767px) {
            max-width: 260px;
         }
      }
      &__feedback{
         max-width: 280px;
         min-height: 234px;
         @media screen and (max-width:767px) {
            width: 300px;
            min-height: 208px;
            margin: 0px 0px 40px 0px;
            align-items: center;
         }
      }
}



