@charset 'utf-8';
@import "_normilize";
@import "_fonts";
@import "_variables";


html,body{
   box-sizing: border-box;
   height: 100%;
   line-height: 1.15;
   font-family: $font-f1;
   font-size: $font-s1;
   font-style: normal;
   font-weight: 400;
   color: $color-dark1;
   scroll-behavior:smooth; 
   // overflow: hidden;
}


h1,h2,h3,h4,h5,p{
   margin: 0;
   padding: 0;
}

.wrapper {
   box-sizing: border-box;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

[class*="__container"] {
   box-sizing: border-box;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0px 40px;
   @media screen and (max-width:1279px) {
      padding: 0px 30px;
   }
   @media screen and (max-width:767px) {
      padding: 0px 10px;
   }
}
.shadow{
   display: none;
   position: fixed;
   width: 100vw;
   height: 100vh;
   &_active-all{
      display: block;
      z-index: 3;
      background: rgba(41, 41, 41, 0.6);
   }
   &_active-header{
      display: block;
      z-index: 5;
      background: rgba(41, 41, 41, 0.6);
      animation: moveShadow 0.5s ease-in-out forwards;
      }
}
      @keyframes moveShadow {
         1% {
            right: -330px;
         }
      
         100% {
            right: 320px;
         }
      }
//===================================================//
@import '_header';


//=============================================================//

.not-only {
   padding: 177px 0px 0px;
   margin: 0px 0px 80px 0px;
   @media screen and (max-width:1279px) { 
      padding: 150px 0px 0px;
   }
   @media screen and (max-width:767px) {
      margin: 0px 0px 40px 0px;
   }
   background: url(../assets/images/background_not_only.png), radial-gradient(circle, #5B483A 0%, #262425 100%) ;
      &__container {
         display: flex;
         justify-content:space-between;
         align-items:center;
         @media screen and (max-width:1279px) {
            flex-direction: column;
            justify-content:flex-end;
            align-items:center;
         }
      }

      &__body {
         flex: 0 1 460px;
         padding: 0px 0px 6.4% 0px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items:flex-start ;
         @media screen and (max-width:1279px) {
            max-width: 460px;
            flex: auto;
            padding: 0px 0px 100px 0px;
         }
         @media screen and (max-width:767px) {
            align-items: center;
            padding: 0px 0px 105px 0px;
         }
      }

      &__title {
         max-width: 310px;
      }

      &__subtitle {
         width: 100%;
         margin: 42px 0px;
         @media screen and (max-width:767px) {
            text-align: center;
         }
      }

      &__button {
         width: 207px;
         height: 52px;
         @media screen and (max-width:1279px) {
            align-self:center;
         }
      }

      &__image  {
         & > img {  
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         @media screen and (max-width:1279px) {
            flex: 0 0 594px;
            padding-left: 20%;
            align-self:flex-end;
         }
         @media screen and (max-width:767px) {
            padding-left: 14%;
               flex: 0 0 272px;
         }
      }

}

.title {
   font-family: $font-f1;
   font-style: normal;
   font-weight: 400;
   line-height: 1.3;
   &_h2 {
      font-size: 44px;
      @media screen and (max-width:767px) {
         font-size: 25px;
         text-align: center;
         letter-spacing: 0.06em;
         padding: 0px 20px 0px;
      }
   }
   &_h3 {
      font-size: 35px;
      letter-spacing: 0.06em;
      @media screen and (max-width:767px) {
         font-size: 25px;
         text-align: center;
      }
   }
   &_h4 {
      font-size: 20px;
      letter-spacing: 0.06em;
      @media screen and (max-width:767px) {
         font-size: 15px;
         line-height: 110%;
         text-align: center;
      }
   }
   &_light {
      color: $color-light1;
   }
    &_dark {
      color: $color-dark1;
   }
}

.subtitle{
   font-family: $font-f2;
   line-height: 160%;
   
   &_light{
      color: $color-grey2;
   }
   &_dark{
      color: $color-dark2
   }
}


.button {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: $font-f1;
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: 0.06em;
   vertical-align: middle;
   text-decoration: none;
   color: $color-dark3;
   border-radius: 100px;
   background: $color-decor;
   border: none;
   outline: none;
   transition: ease-in-out 0.5s;
   &:hover{
      cursor: pointer;
      background: $color-hover;
      box-shadow: 0 0 5px $color-light1;
   }
}

//============================================================//

.about {
      &__container {
         display: flex;
         justify-content: center;
         align-items: center;
         padding-top:0px;
         padding-bottom:95px;
         @media screen and (max-width:1279px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
         }
         @media screen and (max-width:767px) {
            padding-bottom:37px;
         }
      }


      &__image {
         margin-right: 120px;
         @media screen and (max-width:1279px) {
            margin: 75px 0px 0px 0px;
         }
         @media screen and (max-width:767px) {
            margin: 42px 0px 0px 0px;
         }
         & > img {
            @media screen and (max-width:767px) {
            max-width: 260px;
            max-height: 353px;
         }
         }
      }

      &__body {
         max-width: 430px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         @media screen and (max-width:767px) {
         align-items: center;
         padding: 0px 15px 0px;
         }
      }

      &__title {
         max-width: 370px;
      }

      &__subtitle {
         margin: 22px 0px 3px 0px;
         @media screen and (max-width:1279px) {
            margin: 22px 0px 5px 0px;
         }
         @media screen and (max-width:767px) {
            text-align: justify;
            margin: 24px 0px 0px 0px;
         }
      }
}


//=================================================================//

.arrow {
   display: flex;
   justify-content: center;
   align-items: center;
   // flex: 0 0 52px;
   min-width: 52px;
   min-height: 52px;
   border: 2px solid $color-decor;
   box-sizing: border-box;
   border-radius: 50%;
   transition: ease-in-out 0.5s;

   &:hover {
      cursor: pointer;
      background: $color-hover;
      box-shadow: 0 0 5px #FFFFFF;
   }

   &__text {
      font-size: 20px;
      letter-spacing: 0.06em;
      text-align: center;
      // color: $color-dark3;
   }

   &_number {
      background: $color-hover;

      &:hover {
         cursor: auto;
         box-shadow: none;
      }
   }

   &_unactive {
      color: $color-grey2;
      border-color: $color-grey2;

      &:hover {
         cursor: auto;
         background: none;
         box-shadow: none;
      }
   }
}

.card-slider {
   max-width: 270px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 0px 0px 30px 0px;
   background-color: $color-light2;
   border-radius: 9px 9px 0px 0px;
   transition: ease-in-out 0.3s;

   &:hover {
      cursor: pointer;
      // transform: scale(1.05);
      background: #FFFFFF;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

      .card-slider__button {
         background: $color-hover;
         box-shadow: 0 0 5px $color-light1
      }
   }

   &__image {
      width: 270px;
      height: 270px;
      border-radius: 9px 9px 0px 0px;
   }

   &__title {
      margin: 28px 0px 31px 0px;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.06em;
      @media screen and (max-width:767px) {
         margin: 30px 0px 30px 0px;
      }
   }

   &__button {
      width: 187px;
      height: 52px;
      background: transparent;
      border: 2px solid $color-decor;
   }
}


.our-friends {
      background-color: $color-grey1;
      &__container {
         padding-top: 82px;
         padding-bottom: 100px;
         @media screen and (max-width:1279px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
         }
         @media screen and (max-width:767px) {
            padding-top: 42px;
            padding-bottom: 42px;
         }
      }

      &__title {
         max-width: 400px;
         margin: 0 auto;
         text-align: center;
      }

      &__slider {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 59px 0px;
         @media screen and (max-width:1279px) {
            max-width: 708px;
         }
         @media screen and (max-width:767px) {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex: 0 1 507px;
            max-width: 270px;
            margin: 42px -10px 42px;
         }
      }
      &__arrow_left{
         @media screen and (max-width:767px) {
            margin: 20px 40px 0px 0px;
            order: 1;
         }
         @media screen and (max-width:520px) {
            margin: 20px 40px 0px 0px;
            order: 1;
         }
      }
      &__arrow_right {
         transform: rotate(180deg);

         @media screen and (max-width:767px) {
            margin: 20px 0px 0px 40px;
            order: 1;
         }

         @media screen and (max-width:520px) {
            margin: 20px 0px 0px 40px;
            order: 1;
         }
      }
      &__wrapper-cards{
         display: flex;
         justify-content: center;
         align-items: center;
         flex: 0 1 990px;
         overflow: hidden;
         @media screen and (max-width:1279px) {
            flex: 0 1 580px;
         }
         @media screen and (max-width:767px) {
            flex: 0 1 320px;
         }
      }
      
      &__cards {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         &_move-left{
            animation: moveCardsLeft1280 1.5s ease-in-out forwards;
         }
         &_move-right {
            animation: moveCardsRight1280 1.5s ease-in-out forwards;
         }
         @media screen and (max-width:1279px) {
            flex: 0 1 580px;
            // column-gap: 40px;
            justify-content: space-evenly;
            &_move-left {
               animation: moveCardsLeft768 1.5s ease-in-out forwards;
            }
            
            &_move-right {
               animation: moveCardsRight768 1.5s ease-in-out forwards;
            }
         }
         @media screen and (max-width:767px) {
            flex-direction: column;
            justify-content: center;
            flex: 0 1 435px;
            &_move-left {
               animation: moveCardsLeft320 1s ease-in-out forwards;
            }
            &_move-right {
               animation: moveCardsRight320 1s ease-in-out forwards;
            }
         }
      }
      
      @keyframes moveCardsLeft1280 {
         0%{ right:0px;}
         100% {right: 1080px;}
      }
      @keyframes moveCardsRight1280 {
         0% {left:0px;}
         100% {left: 1080px;}
      }
      @keyframes moveCardsLeft768 {
         0%{ right:0px;}
         100% {right: 620px;}
      }
      @keyframes moveCardsRight768 {
         0% {left:0px;}
         100% {left: 620px;}
      }
      @keyframes moveCardsLeft320 {
         0%{ right:0px;}
         100% {right: 310px;}
      }
      @keyframes moveCardsRight320 {
         0% {left:0px;}
         100% {left: 310px;}
      }

      &__card {
         margin: 0px 45px 0px;
         @media screen and (max-width:1279px) {
            margin: 0px 20px 0px;
            &:nth-child(n+3) {
               display: none;
            }
         }
         @media screen and (max-width:767px) {
            &:nth-child(n+2) {
               display: none;
            }
         }
      }
      &__button {
         width: 261px;
         height: 52px;
         margin: 0 auto;
      }
}


//=====================================================//

.help {
      &__container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 80px 0 100px;
         @media screen and (max-width:1160px) {
            padding: 80px 70px 100px;
         }
         @media screen and (max-width:767px) {
            padding: 42px 0px 42px;
         }
      }

      &__title {
         max-width: 310px;
         margin: 0px 0px 57px 0px;
         text-align: center;
         @media screen and (max-width:767px) {
            margin: 0px 0px 42px 0px;
         }
      }
      &__list {
         flex:0 1 auto;
      }
}

.list-help {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items:flex-end;
      margin-bottom: -52px;
      @media screen and (max-width:1160px) {
      justify-content:space-between;
      }
      @media screen and (max-width:767px) {
         padding: 0 15px;
         margin-bottom: -30px;
      }
      &__item {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         padding: 0px 60px 52px;
         @media screen and (max-width:1160px) {
            flex: 0 1 170px;
            padding: 0 0 52px;
         }
         @media screen and (max-width:767px) {
            flex: 0 1 130px;
            padding: 0 0 30px;
         }
      }

      &__icon {
         margin: 0px 0px 30px 0px;
         @media screen and (max-width:767px) {
            max-width: 50px;
            max-height: 50px;
            margin: 0px 0px 20px 0px;
         }
      }

}

//===========================================================//

.donate {
      background: $color-grey1;
      &__container {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 80px 182px 100px;
         @media screen and (max-width:1279px) {
            flex-direction: column-reverse;
         }
         @media screen and (max-width:767px) {
            padding: 42px 10px 42px;
         }
      }

      &__image {
         margin: 0px 30px 0px 0px;
         @media screen and (max-width:1279px) {
            margin: 60px 0px 0px 0px;
         }
         @media screen and (max-width:767px) {
            max-width: 260px;
            margin: 42px 0px 0px 0px;
         }
      }

      // &__body {
      // }
}
.body-donation {
      max-width: 380px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media screen and (max-width:767px) {
         max-width: 300px;
         justify-content: center;
         align-items: center;
      }
      &__title {
         max-width: 300px;
         text-align: start;
         margin: 0px 0px 20px 0px;
         @media screen and (max-width:767px) {
            text-align: center;
            padding: 0px 40px 0px;
         }
      }
      &__subtitle {
         margin: 0px 0px 20px 0px;
         font-family: 'Georgia';
         font-style: normal;
         font-weight: 400;
         font-size: 15px;
         line-height: 110%;
         letter-spacing: 0.06em;
         @media screen and (max-width:767px) {
            text-align: center;
            letter-spacing: 0em;
            line-height: 160%;
         }
      }

      &__card {
         width: 349px;
         height: 43px;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         margin: 0px 0px 20px 0px;
         border-radius: 9px;
         font-size: 20px;
         letter-spacing: 0.06em;
         text-decoration: none;
         color: $color-dark1;
         background-color: $color-decor;
         transition: ease-in-out 0.5s;
         @media screen and (max-width:767px) {
            width: 281px;
            font-size: 15px;
         }
         &:before{
            content: "";
            width: 30px;
            height: 23px;
            margin: 0px 15px 0px 15px;
            background: url(../assets/icons/credit-card.svg) no-repeat;
         }
         &:hover{
            cursor: pointer;
            background: $color-hover;
            box-shadow: 0 0 5px #FFFFFF;
         }
      }

      &__text {
         font-family: $font-f2;
         font-style: italic;
         font-size: 12px;
         line-height: 1.5;
         color: #B2B2B2;
         @media screen and (max-width:767px) {
            text-align: justify;
            padding: 0px 9px 0px;
         }
      }
}

@import "_footer";

.our-pets {
		&__container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 201px 40px 100px;
         background: $color-grey1; 
         @media screen and (max-width:1279px) {
            padding-bottom:77px;
         }
         @media screen and (max-width:767px) {
            padding: 162px 10px 43px;
         }
		}

		&__title {
         max-width: 400px;
         text-align: center;   
		}

		&__slider {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: stretch;
         column-gap: 40px;
         row-gap: 30px;
         margin: 59px 0px;
         @media screen and (max-width:1279px) {
            margin: 30px 0px 40px;
         }
         @media screen and (max-width:767px) {
            flex-direction: column;
            margin: 42px 10px 40px;
         }
		}
      &__card {
         @media screen and (max-width:1279px) {
            &:nth-child(n+7){
               display: none;
            }
         }
         @media screen and (max-width:767px) {
            &:nth-child(n+4){
               display: none;
            }
         }
      }
}

.card-pets {

		&__navigation {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 340px;
         @media screen and (max-width:767px) {
            width: 300px;
         }
         }
		}
// .cards{
//    overflow: hidden;
//    &_unactive {
//       display: none;
//    }
// }

//===========================================================//      
.popup {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,- 50%);
   z-index: 5;
   width: 900px;
   max-height: 500px;
   justify-content: space-between;
   align-items: center;
   background: $color-light2;
   border-radius: 9px;
   box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   @media screen and (max-width:1279px) {
      width: 630px;
      max-height: 350px;
   }
   @media screen and (max-width:767px) {
      width: 240px;
      max-height:none;
   }

   &_active{
      display: flex;
      animation: opacityPopup 1s forwards;
   }
   @keyframes opacityPopup {
      0%{
         opacity: 0%;
      }
      100%{
         opacity: 100%;
      }
   }
   &__closer {
      content: "";
      position: absolute;
      top: 0%;
      left: 100%;
      transform: translate(-20%, -100%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $color-decor;
      transition: 0.5s;
      @media screen and (max-width:767px) {
         transform: translate(-43%, -100%);
      }
      &:hover{
         cursor: pointer;
         background-color: $color-decor;
         box-shadow: 0px 0px 10px $color-light1;
      }
      &_hover {
         cursor: pointer;
         background-color: $color-decor;
         box-shadow: 0px 0px 10px $color-light1;
      }
      &::after, &::before{
         content: "";
         position: absolute;
         width: 17px;
         height: 2px;
         background-color: #000;
         top: 50%;
         left:33%;
         transform: translate(-50%, -50%);
         transform: rotate(45deg);
      }
      &::before{
         transform: rotate(-45deg);
      }
   }
   &__image {
      min-width: 500px;
      min-height: 500px;
      object-fit: cover;
      border-radius: 9px;
      @media screen and (max-width:1279px) {
         min-width: 350px;
         min-height: 350px;
      }
      @media screen and (max-width:767px) {
         display: none;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 50px 20px 88px 29px;
      color: #000;
      letter-spacing: 0.06em;
      @media screen and (max-width:1279px) {
         padding: 10px 10px 37px 10px;
      }
      @media screen and (max-width:767px) {
         padding: 10px 10px 10px 10px;
      }
   }

   &__title {
      margin: 0px 0px 10px 0px;
      @media screen and (max-width:767px) {
         font-size: 35px;
         text-align: center;
      }
   }

   &__subtitle {
      margin: 0px 0px 40px 0px;
      font-size: 20px;
      @media screen and (max-width:1279px) {
      margin: 0px 0px 20px 0px;
      }
      @media screen and (max-width:767px) {
         text-align: center;
      }
      &_text{
         display: inline-block;
      }
   }

   &__text {
      margin: 0px 0px 40px 0px;
      font-size: 15px;
      line-height: 110%;
      @media screen and (max-width:1279px) {
         margin: 0px 0px 20px 0px;
         font-size: 13px;
      }
      @media screen and (max-width:767px) {
         margin: 0px 0px 24px 0px;
         text-align: justify;
      }
   }

   &__list {
      margin: 0px 0px 0px 10px;
      padding: 0px 0px 0px 0px;
      list-style-type:none;
   }

   &__item {
      position: relative;
      margin: 0px 0px 11px 0px;
      @media screen and (max-width:1279px) {
         margin: 0px 0px 6px 0px;
      }
      &::before{
         position: absolute;
         top: 50%;
         left: -10px;
         transform: translateY(-50%);
         content: "";
         width: 4px;
         height: 4px;
         border-radius: 50%;
         background-color: $color-decor;
      }
   }
}
