@import url(../../../../styles/variables.module.css);
.button{
  background: transparent;
  border: none;
}

.button__star{
  width: 35px;
  height: 35px;
  filter: var(--greenFilter);
  transition: 0.3s;
  }

.button__star:hover,
.button__star:active,
.button__star:focus-visible{
  outline:none;
}