@import "_normilize";
@import "_fonts";
$font-f1: Georgia, 'Times New Roman', Times, serif;
$font-f2: Arial, Helvetica, sans-serif;
$font-s1: 15px;
$color-light1:#FFFFFF;
$color-light2: #FAFAFA;
$color-decor:#F1CDB3;
$color-hover: #FDDCC4;
$color-dark1:#545454;
$color-dark2:#4C4C4C;
$color-dark3:#292929;


html,body{
   height: 100%;
   line-height: 1;
   font-family: $font-f1;
   font-size: $font-s1;
   font-style: normal;
   font-weight: 400;
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0px 40px;

}

//===================================================//

.header {
   min-height: 60px;
   z-index: 1;
   
   &__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__logo-title {
      margin: 0px 0px 10px 0px;
      font-family: 'Georgia';
      font-size: 32px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $color-decor;
   }

   &__logo-subtitle {
      font-family: $font-f2;
      font-size: 13px;
      line-height: 115%;
      letter-spacing: 0.1em;
      color: $color-light1;
   }

   &__menu {
      margin: 0px -35px 0px 0px;
   }
}

.header-main {
   margin: 60px 40px -120px;
}

.menu {
   
   &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
      position: relative;
      margin: 0px 35px 0px 0px;
      list-style-type: none;
   }


   &__link {
      font-family: $font-f2;
      line-height: 160%;
      color: #FAFAFA;
      text-decoration: none;
   }

   &__active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      border-bottom: 4px solid $color-decor;
   }
}

//=============================================================//

.not-only {
   // min-height: 908px;
   min-width: 100%;
   padding: 180px 40px 0px;
   margin: 0px 0px 80px 0px;
   background: url(../../assets/images/background_not_only.png), radial-gradient(circle, #5B483A 0%, #262425 100%) ;

		&__container {
         display: flex;
         justify-content: space-between;
         align-items: center;
		}

		&__body {
         max-width: 460px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items:flex-start ;
		}

		&__title {
         max-width: 310px;
         // height: 114px;
         margin: 0px 0px 42px 0px;
         font-size: 44px;
         line-height: 130%;
         color: $color-light1;
		}

		&__subtitle {
         width: 100%;
         margin: 0px 0px 42px 0px;
         font-family: 'Arial';
         line-height: 160%;
         color: #CDCDCD;
		}

		// &__button {
		// }

		// &__image {
		// }
}

.button {
   width: 207px;
   height: 52px;
   border-radius: 100px;
   background: $color-decor;
   border: none;
   outline: none;
   transition: ease-in-out 0.5s;
   font-family: $font-f1;
   font-size: 17px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: $color-dark3;
   &:hover{
      background: $color-hover;
   }
}

//============================================================//

.about {

		// &__container {
		// }

		&__block {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 0px 15px 0px;
		}

		&__image {
         min-width: 300px;
         min-height: 408px;
         margin-right: 175px;
		}

		&__body {
         flex: 0 1 430px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
		}

		&__title {
         max-width: 370px;
         margin: 14px 0px 0px 0px;
		}

		&__text {
         font-family:$font-f2;
         margin: 25px 0px 0px 0px;
         line-height: 160%;
		}
}
.h3-title {
   font-family:$font-f1;
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   color: $color-dark1;
}

//=================================================================//

.our-friends {
      background: #E5E5E5;
		&__container {
         padding: 80px 40px 100px 40px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
		}

		&__title {
         max-width: 400px;
         text-align: center;
		}

		&__slider {
         margin: 60px 0px 60px 0px;
		}
      &__button {
         max-width: 261px;
         margin: 0px;
		}
}

.slider {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
		// &__arrow {
		// }

		&__cards {
      flex: 0 1 990px;
      display: flex;
      justify-content: space-between;
      margin: 0px -10px;
		}

		&__card {
         flex: 0 1 270px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background: $color-light2;
         border-radius: 9px;
         padding: 0px 0px 30px 0px;
         margin: 0px 10px;
         transition: ease-in-out 0.5s;
         &:hover {
            z-index: 1;
            transform: scale(1.1); 
         }
		}
}
.arrow {
   position: relative;
   flex: 0 0 52px;
   height: 52px;
   border: 2px solid $color-decor;
   box-sizing: border-box;
   border-radius: 100px;
   transition: ease-in-out 0.5s;
   &__image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
		}
   &__right{
      transform: rotate(180deg);
   }
   &:hover{
      background: $color-hover;
   }
}
.card-slider {

		// &__image {
      //    // flex: 0 1 33.333%;
		// }

		&__title {
         font-size: 20px;
         margin: 30px 0px 30px 0px;
         letter-spacing: 0.06em;
         color: $color-dark1;
		}

		&__button {
         width: 187px;
         background: transparent;
         border: 2px solid $color-decor;
         // margin: 0 auto;
		}
}
//=====================================================//

.help {

		&__container {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 80px 127px 100px;
		}

		&__title {
         max-width: 308px;
         margin: 0px 0px 60px 0px;
         text-align: center;
		}

		&__list-first {
         justify-content: space-between;
         column-gap: 120px;
         margin: 0px 0px 55px 0px;
		}
      &__list-second {
         justify-content: space-around;
         column-gap: 120px;
		}
}

.list-help {
      max-width: 1026px;
      display: flex;
      align-items: center;
		&__item {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
		}

		&__icon {
         margin: 0px 0px 30px 0px;
		}

		&__text {
         font-size: 20px;
         line-height: 115%;
         letter-spacing: 0.06em;
         color: $color-dark1;
		}
}






