// @import "_normilize";

$font-f1: Georgia, 'Times New Roman', Times, serif;
$font-f2: Arial, Helvetica, sans-serif;
$font-s1: 15px;
$color-decor:#F1CDB3;

*{
   box-sizing: border-box;
}

html,body{
   height: 100%;
   line-height: 1;
   font-family: $font-f1;
   font-size: $font-s1;
   font-style: normal;
   font-weight: 400;
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 1280px;
   margin: 0 auto;
}

.header {
   min-height: 60px;
   
   &__container{
      width: 100%;
      padding: 0px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__logo-title {
      margin: 0px 0px 10px 0px;
      font-family: 'Georgia';
      font-size: 32px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $color-decor;
   }

   &__logo-subtitle {
      font-family: $font-f2;
      font-size: 13px;
      line-height: 115%;
      letter-spacing: 0.1em;
      color: #FFFFFF;
   }

   &__menu {
      margin: 0px -35px 0px 0px;
   // padding: 18px 0px;
   }
}

.header-main {
   margin: 60px 40px;
}


.menu {
   
   &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
      position: relative;
      margin: 0px 35px 0px 0px;
   }


   &__link {
      font-family: $font-f2;
      line-height: 160%;
      color: #FAFAFA;
      text-decoration: none;
   }

   &__active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      border-bottom: 4px solid $color-decor;
   }
}


