@import url(../../../styles/variables.module.css);

.input{
  position: relative;
  width: 70%;
  margin: 20px;

}

.input__body{
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 2px solid var(--mainColor);
  outline: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--mainColor);
}

.input__icon{
  content: '';
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url(./cross.svg) 99% / 60% no-repeat;
  cursor: pointer;
}