@import url(../../../styles/variables.module.css);

.input{
  min-width: 200px;
  position: relative;
  flex: 1 1 auto;
  margin: 0px 20px 0px;
}

.input__body{
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 2px solid var(--mainColor);
  outline: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--mainColor);
}

.input__icon{
  content: '';
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}