@import url(../../../styles/variables.module.css);

.select {
   margin: 50px;
  padding: 5px 35px 5px 5px;
  font-size: 1rem;
  border: 2px solid var(--mainColor);
  outline: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./arrow_down.svg) 96% / 13% no-repeat var(--mainTextColor);
  color: var(--mainColor);
}
