@import url(../../../styles/variables.module.css);

.select {
  position: relative;
}

.select__body {
  flex: 0 1 auto;
  padding: 5px 45px 5px 5px;
  font-size: 1rem;
  border: 2px solid var(--mainColor);
  outline: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: var(--mainColor);
}

.select__arrow{
  position: absolute;
  filter: var(--greenFilter);
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: -1;
}
