.track__container{
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 10px 0;
  border: 2px #4e4e4e dotted;
  gap: 10px;
}

.track__body{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
}

.track__buttons{
  display:flex;
  justify-content: stretch;
  align-items: center;
  gap: 15px;
  margin: 5px 0;
}
.track__buttons_vertical{
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.track__buttons_vertical button{
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.track__buttons_vertical button:first-of-type{
  background-color: #0ddc0d;
}

.track__buttons_vertical button:last-of-type{
  background-color: #ef0c0c;
}

.track__buttons_vertical button:first-of-type:disabled,
.track__buttons_vertical button:last-of-type:disabled{
  background-color: #adadad;
  border: 2px #ffffff solid;
}


.track__car, 
.track__flag{
  height: 35px;
}

.track__car svg,
.track__flag svg{
  width: 100%;
  height: 100%;
  fill:rgb(48, 206, 212)
}

.track__flag{
  position: absolute;
  top: 10%;
  right: 60px;
  transform: translateY(-10%);
}

.track__title{
  padding-top: 7px;
}


@keyframes slide {
  from {
    transform: translate(var(--from-translate));
  }

  to {
    transform: translate(var(--to-translate));
  }
}