.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  /* color: var(--mainTextColor); */
  background-color: #fffd97;
}

.footer__data,
.footer__school {
  text-align: center;
  margin: 0 10px;
}

.footer__link,
.footer__link:active,
.footer__link:visited {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: 0.5s linear;
}

.footer__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.5s linear;
}

.footer__link:hover::after,
.footer__link:focus::after {
  width: 100%;
}

.footer__logo{
  max-width: 60px;
  max-height: 60px;
}