@import url(../../../styles/variables.module.css);

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  color: var(--mainTextColor);
  background-color: var(--mainColor);
}
.header__title {
  font-size: 2rem;
  font-weight: 800;
}
.header__logo {
  width: 120px;
  height: 85px;
  background: url(./assets/logo.png);
}
