@import url(../../../styles/variables.module.css);

.slider__container{
  margin: 20px 0;
  padding: 0 20px 20px;
  background-color: var(--mainTextColor);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.slider__title{
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--mainColor);
}

.noUi-connect{
  background-color: var(--mainColor);
}

.noUi-horizontal .noUi-handle {
  width: 30px;
  height: 30px;

}

.noUi-handle{
  border-radius: 50%;
}