.panel__container {
  display:inline-flex;
  flex-direction: column;
  justify-content:stretch;
  align-items:stretch;
  margin: 10px;
}

.panel__buttons{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  margin: 10px;
}

.field__container {
  display:flex;
  justify-content:stretch;
  align-items:center;
  margin: 10px;
  gap: 10px;
}

.panel__input{
  height: 80%;
}