/* @import url(../../../../styles/variables.module.css); */

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: #fff;
  border: none;
  background: #4c4c4c ;
  cursor: pointer;
  font-size: 0.7rem;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
}

.button:hover,
.button:active,
.button:focus-visible,
.button_select{
  background: #adadad;
  outline:none;
}

