@import url(../../../styles/variables.module.css);

.input__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 5px solid var(--mainTextColor);
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5), inset 10px 10px 15px -10px #c3c3c3,
    inset -10px -10px 15px -10px #fff;
}

.input[type="checkbox"] {
  position: relative;
  min-width: 100%;
  padding: 15px 20px;
  -webkit-appearance: none;
  outline: none;
  cursor: inherit;
}

.input[type="checkbox"]::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--mainTextColor);
  position: absolute;
  margin: auto;
  top: 50%;
  left: 5%;
  transform: translate(00%, -50%);
  border-radius: 50%;
  box-shadow: 7px 7px 15px #dcdcdc, 9px 9px 16px rgba(189, 189, 189, 0.6);
  transition: 0.3s;
}

.input[type="checkbox"]:checked {
  background: var(--mainColor);
  border-radius: inherit;
}

.input[type="checkbox"]:checked::before {
  left: 95%;
  transform: translate(-100%, -50%);
  box-shadow: none;
}

.input__title{
  position: relative;
  top: 50%;
  right: 5px;
  transform: translate(-100%, 0%);
  font-size: 1rem;
  text-align: center;
  color: var(--mainColor);
  cursor: inherit;
}

.input[type="checkbox"]:checked ~ .input__title  {
  transform: translate(-100%, -5%);
  right: 30px;
  color: var(--mainTextColor);
}