@import url(../../../../styles/variables.module.css);

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: left;
  transition: 0.3s;
  overflow: hidden;
}

.button:hover,
.button:active,
.button:focus-visible,
.button_select{
  background-color: var(--mainColor);
  color: var(--mainTextColor);
  outline:none;
}

