@import url(../../../styles/variables.module.css);

.checkbox__container{
  max-width: 270px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 10px solid #dcdcdc;
  background-color: #dcdcdc;
}

.checkbox__block{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--mainTextColor);
  border-radius: 10px;
}

.checkbox__title{
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--mainColor);
  background-color: #dcdcdc;
}